<div id="carouselExampleAutoplaying" class="carousel slide d-flex" data-bs-ride="carousel">
    <div class="carousel-inner position-relative p-3 rounded-3" style="height: 30em;">
        
        <div class="carousel-item h-100 active " data-bs-interval="3000" style="background-image: url(../static/teste/chefe_01.jpg ); background-size: contain; background-repeat: no-repeat; background-position: center;">
            
            <div class="badge text-bg-warning text-wrap shadow p-3 m-2 rounded position-absolute top-0 start-50 translate-middle-x" style=" height: 3rem;">
                Maria
            </div>
            <div class="badge text-bg-warning text-wrap shadow p-3 m-2 rounded position-absolute bottom-0 start-50 translate-middle-x" style=" height: 3rem;">
                <span class="rating">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                </span>
            </div>
        </div>
        
        <div class="carousel-item h-100 active " data-bs-interval="3000" style="background-image: url(../static/teste/chefe_02.jpg ); background-size: contain; background-repeat: no-repeat; background-position: center;">
            <div class="badge text-bg-warning text-wrap shadow p-3 m-2 rounded position-absolute top-0 start-50 translate-middle-x" style=" height: 3rem;">
                Antonio
            </div>
            <div class="badge text-bg-warning text-wrap shadow p-3 m-2 rounded position-absolute bottom-0 start-50 translate-middle-x" style=" height: 3rem;">
                <span class="rating">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                </span>
            </div>
        </div>
        <div class="carousel-item h-100 active " data-bs-interval="3000" style="background-image: url(../static/teste/chefe_03.jpg ); background-size: contain; background-repeat: no-repeat; background-position: center;">
            <div class="badge text-bg-warning text-wrap shadow p-3 m-2 rounded position-absolute top-0 start-50 translate-middle-x" style=" height: 3rem;">
                Gonçalves
            </div>
            <div class="badge text-bg-warning text-wrap shadow p-3 m-2 rounded position-absolute bottom-0 start-50 translate-middle-x" style=" height: 3rem;">
                <span class="rating">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                </span>
            </div>
        </div>
        
    </div>
    <button class="carousel-control-prev rounded-circle align-self-center" type="button" data-bs-target="#carouselExampleAutoplaying" style="background-color: #fd7e14; width: 60px; height: 60px; ";
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon " aria-hidden="true" "></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next rounded-circle align-self-center" type="button" data-bs-target="#carouselExampleAutoplaying" style="background-color: #fd7e14; width: 60px; height: 60px; "
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>