<div class="card" style="width: 18rem; height: 30rem; margin-bottom: 15px;">
    
    <div style="background-image: url(../static/teste/prato_01.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; height: 20rem;">
        
    </div>
    <div class="card-body">
        <h6 class="card-title">Panqueca tradicional</h6>
        <p class="card-text">Feito por: Maria</p>
        <a href="#" class="btn btn-warning">Comprar</a>
    </div>
</div>

<div class="card" style="width: 18rem; height: 30rem; margin-bottom: 15px;">
    <div style="background-image: url(../static/teste/prato_02.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; height: 20rem;">
        
    </div>
    <div class="card-body">
        <h6 class="card-title">Sanduba de Frango e Queijo</h6>
        <p class="card-text">Feito por: Antonio</p>
        <a href="#" class="btn btn-warning">Comprar</a>
    </div>
</div>

<div class="card" style="width: 18rem; height: 30rem; margin-bottom: 15px;">
    <div style="background-image: url(../static/teste/prato_03.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; height: 20rem;">
        
    </div>
    <div class="card-body">
        <h6 class="card-title">Hamburger artesanal</h6>
        <p class="card-text">Feito por: Gonçalves</p>
        <a href="#" class="btn btn-warning">Comprar</a>
    </div>
</div>

<div class="card" style="width: 18rem; height: 30rem; margin-bottom: 15px;">
    <div style="background-image: url(../static/teste/prato_04.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; height: 20rem;">
        
    </div>
    <div class="card-body">
        <h6 class="card-title">Bolo de Chocolate</h6>
        <p class="card-text">Feito por: Maria</p>
        <a href="#" class="btn btn-warning">Comprar</a>
    </div>
</div>