{%extends "base.html"%}

{%block head%} 
    <title>Página do Usuário</title>
{%endblock%}

{%block body%}
<h1 class="text-center">User Form</h1>
    <form action="{{url_for('user')}}" method="post" class="container">
        <fieldset class="shadow p-3 mb-5 bg-body-tertiary rounded d-flex flex-column mb-3" style="gap: 20px;">
            {{form.hidden_tag()}}

        {{form.nome.label(class="form-label")}}
        {{form.nome(class="form-control", placeholder="George...")}}
        {{form.email.label(class="form-label")}}
        {{form.email(class="form-control", placeholder="geor3@mail.com")}}
        <div class="d-flex justify-content-end">
            {{form.submit(value="Cadastrar", class="btn btn-outline-primary")}}
        </div>
        </fieldset>
        
    </form>
    
{%if users%}
    <table class="container table table-striped shadow p-3 mb-5 bg-body-tertiary rounded">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Email
                </th>
                <th>
                    Data
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            {%for user in users%}
            <tr>
                <td>{{user.id}}</td>
                <td><a href="{{url_for('alterar_usuario',id=user.id)}}">{{user.nome}}</a></td>
                <td>{{user.email}}</td>
                <td>{{user.data}}</td>
                <!-- <td>{{user.status}}</td> -->
                {%if user.status%}
                    <td>Ativo</td>
                {%else%}
                    <td>Desativado</td>
                {%endif%}

            </tr>
            {%endfor%}
        </tbody>
    </table>
{%else%}
    <h2 class="text-center">Não Há usuários</h2>
{%endif%}
    
{%endblock%}